.modal {
    position: relative;
    max-width: 800px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
    background: #111;
    overflow: hidden;
    border-radius: 8px;
    transition: all 400ms ease-in-out 2s;
    animation: fadeIn 400ms;
}

.modal_poster-img {
    width: 100%;
    height: auto;  
  
}

.modal_content {
    padding: 40px;
    color: white;
}

.modal_title {
    padding: 0;
    font-size: 40px;
    margin: 16px 0;
}

.modal_details {
    font-weight: 600;
    font-size: 18px;
}

.modal_overview {
    font-size: 20px;
    line-height: 1.5;
}

.modal_user_perc {
    color: #46d369;
}

.modal::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}

.modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wrapper-modal {
    position: relative; /* 기존 fixed 제거 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* 투명 배경 */
}


.presentation {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto; /* 클릭 이벤트 활성화 */
}



.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 1000;
    color: white;
}

.modal_trailer {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  .modal_no-trailer {
    margin-top: 20px;
    font-size: 18px;
    color: #999;
  }
  

@media screen and (max-height: 768px){
    .wrapper-modal {
        align-items: unset;
        padding-top: 2rem;
    }

    .modal {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 768px){
    .modal_overview {
        font-size: 16px;
    }
    .modal_details {
        font-size: 16px;
    }
    .wrapper-modal {
        padding: 0;
    }
    .modal {
        overflow-y: scroll !important;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}