.nav {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black{
    background-color: black;
}

.nav__logo{
    position: fixed;
    left: 40px;
    width: 100px;
    object-fit: contain;
}

.nav__avatar {
    position:fixed;
    right: 40px;
    width: 40px;
    object-fit: contain;
}