/* 전체 검색 페이지 스타일 */
.search-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 기본 5열 레이아웃 */
    gap: 1rem; /* 카드 간격 */
    padding: 2rem;
    background-color: black;
    color: white;
  }
  
  /* 영화 카드 스타일 */
  .movie {
    display: flex;
    justify-content: center;
  }
  
  .movie__column-poster {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .movie__column-poster:hover {
    transform: scale(1.1);
  }
  
  .movie__poster {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* 검색 결과가 없을 때 */
  .no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c5c5c5;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    background-color: black;
  }
  
  /* 태블릿 (화면 너비 1024px 이하) */
  @media (max-width: 1024px) {
    .search-container {
      grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개 */
    }
  }
  
  /* 스마트폰 가로 (화면 너비 768px 이하) */
  @media (max-width: 768px) {
    .search-container {
      grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개 */
    }
  }
  
  /* 스마트폰 세로 (화면 너비 480px 이하) */
  @media (max-width: 480px) {
    .search-container {
      grid-template-columns: repeat(1, 1fr); /* 한 줄에 1개 */
    }
  }
  